<!-- ===== HUMANOS ===== -->
<div class="d-flex align-items-center justify-content-between mb-2">
  <div class="d-flex align-items-center gap-2">
    <button class="btn btn-light btn-sm" (click)="scrollLeft('humanos')">‹</button>
    <h1 class="m-0">Humanos</h1>
  </div>
  <button class="btn btn-light btn-sm" (click)="scrollRight('humanos')">›</button>
</div>

<!-- Contenedor con scroll oculto -->
<div id="humanos" class="d-flex overflow-auto gap-3 pb-2 scroll-hidden">
  @for (human of humanos; track $index) {
    <div class="card shadow-sm" style="min-width: 200px; border-radius: 8px;">
      <img [src]="human.image" class="card-img-top" [alt]="human.name"
           style="height: 180px;" (click)="verDetalle(human)">
      <div class="card-body text-center p-2">
        <h6 class="card-title fw-bold mb-2">{{ human.name }}</h6>
      </div>
    </div>
  }
</div>


<!-- ===== ALIENS ===== -->
<div class="d-flex align-items-center justify-content-between mb-2 mt-4">
  <div class="d-flex align-items-center gap-2">
    <button class="btn btn-light btn-sm" (click)="scrollLeft('aliens')">‹</button>
    <h1 class="m-0">Aliens</h1>
  </div>
  <button class="btn btn-light btn-sm" (click)="scrollRight('aliens')">›</button>
</div>
<div id="aliens" class="d-flex overflow-auto gap-3 pb-2">
  @for (alien of aliens; track $index) {
    <div class="card shadow-sm" style="min-width: 200px; border-radius: 8px;">
      <img [src]="alien.image" class="card-img-top" [alt]="alien.name"
           style="height: 180px; object-fit: cover; cursor: pointer;"
           (click)="verDetalle(alien)">
      <div class="card-body text-center p-2">
        <h6 class="card-title fw-bold mb-2">{{ alien.name }}</h6>
      </div>
    </div>
  }
</div>

<!-- ===== ROBOTS ===== -->
<div class="d-flex align-items-center justify-content-between mb-2 mt-4">
  <div class="d-flex align-items-center gap-2">
    <button class="btn btn-light btn-sm" (click)="scrollLeft('robots')">‹</button>
    <h1 class="m-0">Robots</h1>
  </div>
  <button class="btn btn-light btn-sm" (click)="scrollRight('robots')">›</button>
</div>
<div id="robots" class="d-flex overflow-auto gap-3 pb-2">
  @for (robot of robots; track $index) {
    <div class="card shadow-sm" style="min-width: 200px; border-radius: 8px;">
      <img [src]="robot.image" class="card-img-top" [alt]="robot.name"
           style="height: 180px; object-fit: cover; cursor: pointer;"
           (click)="verDetalle(robot)">
      <div class="card-body text-center p-2">
        <h6 class="card-title fw-bold mb-2">{{ robot.name }}</h6>
      </div>
    </div>
  }
</div>
