<nav class="navbar">
  <div class="navbar-container">

    <!-- Logo -->
    <a routerLink="/" class="navbar-logo">
      <img src="/assets/Imagenes/transparent-Photoroom.png" alt="Logo" />
      <span class="navbar-title"></span>
    </a>

    <!-- Botón móvil -->
    <button class="navbar-toggle" aria-controls="navbar-menu" aria-expanded="false">
      <span class="sr-only">Abrir menú</span>
      <svg viewBox="0 0 17 14">
        <path d="M1 1h15M1 7h15M1 13h15" />
      </svg>
    </button>

    <!-- Menú -->
    <div class="navbar-menu" id="navbar-menu">
      <ul class="navbar-list">

        <!-- Dropdown -->
<li class="navbar-item dropdown">
  <button class="dropdown-toggle">
    <span>Servicios</span>
  </button>
  <div class="dropdown-menu">
    <ul>
      <li><a routerLink="explorar">Explorador</a></li>
      <li><a routerLink="promociones">Promociones</a></li>
      <li><a routerLink="nosotros">Trabaja con nosotros</a></li>
    </ul>
  </div>
</li>

        <!-- Botones -->
        <li class="navbar-buttons">
          <a routerLink="registrar" class="btn-register">Registrarse</a>
          <a routerLink="inicio" class="btn-login">Iniciar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
